{
  "env": {
    "app": {
      "name": "Wallet Service",
      "env": "dev",
      "version": "1.0",
      "port": 9000,
      "api_prefix": ""
    },
    "database": {
      "driver": "postgres",
      "host": "localhost",
      "port": 5432,
      "user": "admin",
      "password": "password",
      "name": "wallet"
    },
    "context": {
      "timeout": "5s"
    }
  }
}
